@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

html {
  scroll-behavior: smooth;
}

/* :root {
  --background: #7e1f1f;
  --foreground: #270c0c;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */
@font-face {
  font-family: 'Winky Rough';
  src: url('/fonts/WinkyRough.woff2') format('woff2'),
    url('/fonts/WinkyRough.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Winky Rough", sans-serif; */
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* cursor: none; */
  background: linear-gradient(to left, #486263, #E8ECED);

}

